*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: $main-font-family;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: $color-text;
  background-color: $color-main;
  letter-spacing: 0.03em;
}



a {
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.marker-list {
  list-style-type: none;
  padding: 0;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}